#Board {
    margin-top: 10px;
}

.row {
    position: relative;
    padding: 10px;
    border: 1px solid black;
    width: 30vw;
    display: flex;
    height: 30px;

}

.column {
    flex: 1;
}


.front {
    margin-left: 15vw;
}

.hidden {
    display: none;
}
.visible {
    margin-top: 50px;
    margin-right: 35vw;
    position: absolute;
    align-items: center;
    display: flex;
    flex: 1;

}

.score {
    font-size: 2rem;
    font-family: headerFont, serif;
    color: black;
    margin-left: 50vw;

}
.container {
    position: relative;
}
@media (max-width: 800px) {
    .container {
    }
    .visible {
        position: absolute;
        margin-right: 500vw;
        display: flex;
        flex: 1;
    }
}
.fastrow {
    position: relative;
    padding: 15px;
    border: 1px solid black;
    width: 25vw;
    display: flex;
    height: 30px;
}
.login {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 50vw;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}